/********************************************************
7.index About Start
 *******************************************************/
.int_about_wrapper {
  padding: 9% 0;
}
.about_box_wrapper .about_imgbox {
  text-align: right;
}
.about_imgbox .about_img {
  position: relative;
}
.about_imgbox .about_img .child_imgbox {
  position: absolute;
  bottom: -70px;
  left: 20px;
}
.about_img .child_imgbox:after {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100%;
  height: 100%;
  right: 41px;
  background: #ff000000;
  border: 10px solid #282d32;
  z-index: -1;
}
.about_contentbox {
  padding-top: 20px;
}
.about_contentbox h6 {
  color: #222;
  margin-bottom: 15px;
}
.about_contentbox .int_heading span {
  font-size: 30px;
  letter-spacing: inherit;
}
.about_contentbox .about_head1 {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  margin: 5px 0px 2px 0px;
}
.about_contentbox .about_head2 .team {
  font-weight: 500;
  color: #fff;
}
.about_contentbox .about_head2 {
  font-size: 40px;
  color: #c6a47e;
  font-weight: 300;
}
.about_contentbox .about_deatils {
  color: #cdcdcd;
  padding-top: 15px;
}
.about_contentbox .int_heading {
  margin-bottom: 0;
  text-align: left;
}
.about_contentbox .int_btn .about_btnicon {
  height: 60px;
  line-height: 60px;
  display: inline-block;
  position: absolute;
  left: -60px;
  padding: 0px 16px;
  background: #34393f;
  border-right: 1px solid #212629;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.about_contentbox .int_btn {
  min-width: 244px;
  height: 60px;
  line-height: 60px;
  text-transform: capitalize;
  background: #34393f;
  margin-left: 60px;
  letter-spacing: 0px;
  margin-top: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.about_contentbox .int_btn:hover,
.about_contentbox .int_btn:hover .about_btnicon {
  background: #c6a47e;
}
.about_contentbox .int_btn .about_btnicon svg {
  width: 30px;
  height: 30px;
}
.about_contentbox .int_btn:hover .about_btnicon svg path {
  fill: #fff;
}

/********************************************************
8.index About End
 *******************************************************/

/* Index v2 About Section css Start */
.int_about_wrapper.int_about_style2 {
  background-image: url(../images/index_about2_banner.jpg);
  background-size: cover;
  background-position: center center;
  padding-bottom: 0;
}
.int_about_style2 .about_contentbox {
  padding: 47px 30px 80px 30px;
}
.int_about_style2 .int_heading h4 {
  color: #ffb300;
  text-align: left;
}
.int_about_style2 .about_contentbox .about_head1 {
  font-size: 32px;
  color: #222222;
}
.int_about_style2 .about_contentbox .about_deatils {
  color: #555555;
  font-weight: 500;
}
.int_about_style2 .about_contentbox .about_deatils_two {
  color: #555555;
  padding-top: 23px;
  font-weight: 500;
}
.int_about_style2 .int_btn {
  min-width: 170px;
  height: 50px;
  line-height: 50px;
  color: #222;
  font-weight: 500;
  background: #ffb300;
  margin: 22px 0 0;
  text-transform: uppercase;
}
.int_about_style2 .btn_caret {
  background: #ffb300;
}
.int_about_style2 .int_btn:hover {
  color: #fff;
  background: #555555;
}
.int_about2_imgbox {
  position: relative;
  text-align: right;
}
.int_about2_imgbox h1 {
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  top: 90px;
  font-size: 42px;
  font-weight: 600;
  opacity: 0.1;
}
.about_img_two {
  position: absolute;
  bottom: -163px;
  left: -16px;
}
.about_img_two img,
.about_img_three img {
  border: solid 10px #ffffff;
}
.about_img_three {
  position: absolute;
  bottom: -163px;
  right: -10px;
}
/* Index v2 About Section css css end */
.gray-bg {
  position: relative;
  padding: 4rem 0;
  background-color: #f7f7f7 !important;
}
.headings {
  position: relative;
  margin-bottom: 5rem;
}
.animate-box {
  position: relative;
  padding: 3.5rem 1.8rem;
  margin: 2rem 0;
  background: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.animate-box .number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  background: #ffb300;
  font-weight: 600;
  font-size: 18px;
  color: #222;
  transform: translate(-40%, -30%);
}
.animate-box .heading {
  margin-bottom: 15px;
  font-size: 19px;
}
.animate-box .desc span {
  font-size: 18px;
  line-height: 1.5;
  color: #807e7e;
}
.testimonials {
  position: relative;
  width: 100%;
  height: auto;
}
.testimonials .img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.testimonials .img-wrapper img {
  width: 70%;
}
.testimonials .content {
  position: absolute;
  width: 50%;
  height: 320px;
  right: 10%;
  bottom: 0;
  padding: 2rem;
  background: #222;
  transform: translateY(20%);
}
.testimonials .content .text-wrap {
  position: relative;
  margin-top: 15px;
}
.testimonials .content .text-wrap p {
  font-size: 20px;
  color: #cac7c7;
  line-height: 1.6;
}
.testimonials .content .information {
  margin-top: 15px;
}
.testimonials .content .information .name {
  color: #ffb300;
}
.testimonials .content .information .position {
  color: #cac7c7;
}
.about-us-content .about-us-title h2 {
  margin-bottom: 25px;
}
.about-us-content .text-wrap {
  font-size: 20px;
  line-height: 1.5;
}
.about-us-content .item-wrap .icon {
  position: relative;
  width: 12px;
  height: 12px;
  float: left;
  margin-top: 12px;
  margin-right: 15px;
  background: #ffb300;
  border-radius: 50%;
}
.about-us-content .item-wrap span {
  position: relative;
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-section h6 {
  color: #222;
}
.contact-section p {
  color: #212629;
}
.services-area h6 {
  color: #212629;
}
.services-area p {
  color: #212629;
}
.copyright-line {
  color: #e3e3e3;
}
.header-right-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
====================================================================
			Page Title
====================================================================

***/

.page-title {
  position: relative;
  padding: 233px 0 165px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-title:before {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #252531;
  opacity: 0.85;
  position: absolute;
}

.page-title .inner-container {
  position: relative;
}

.page-title .title-box {
  position: relative;
  float: left;
}

.page-title h1 {
  position: relative;
  display: block;
  font-size: 48px;
  color: #ffffff;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 35px;
}

.page-title .title {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 400;
}

.page-title .bread-crumb {
  position: relative;
  float: right;
  background: #252531;
  padding: 14px 30px;
  border-radius: 30px 0 0px 30px;
  border: 1px solid #fff;
  border-right: none;
}
.page-title .bread-crumb:before {
  position: absolute;
  width: 771px;
  left: 100%;
  height: 60px;
  top: -1px;
  content: "";
  background: #252531;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
}

.page-title .bread-crumb li {
  position: relative;
  float: left;
  font-size: 14px;
  line-height: 30px;
  color: #ffb300;
  font-weight: 700;
  text-transform: capitalize;
  cursor: default;
  padding-right: 20px;
  margin-right: 20px;
}
.page-title .bread-crumb span {
  margin-right: 10px;
}
.page-title .bread-crumb li a {
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.page-title .bread-crumb li a:hover {
  color: #ffb300;
}

/*** 

/*** 

====================================================================
	Gallery Section Two
====================================================================

***/

.gallery-section {
  position: relative;
  overflow: hidden;
  padding: 97px 0px 98px;
}

.gallery-section .row {
  margin: 0px -15px;
}

.gallery-section .column-gallery {
  position: relative;
  width: 33.33%;
  float: left;
  padding: 0px 8px;
}

.gallery-section .small-column {
  position: relative;
  width: 33.33%;
  float: left;
  padding: 0px 8px;
}

.gallery-section .filters {
  position: relative;
}

.gallery-section .filters .filter-tabs {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}

.gallery-section .filters .filter-tabs .filter {
  position: relative;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  padding: 0px 20px;
  text-transform: capitalize;
  display: inline-block;
  line-height: 1em;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.gallery-section .filters .filter-tabs .filter:after {
  position: absolute;
  content: "|";
  right: -7px;
  top: 0px;
  color: #cacaca;
  font-size: 14px;
}

.gallery-section .filters .filter-tabs .filter:last-child::after {
  display: none;
}

.gallery-section .filters .filter-tabs .filter.active,
.gallery-section .filters .filter-tabs .filter:hover {
  color: #ffb300;
}

.gallery-section .default-portfolio-item {
  margin-bottom: 16px;
}

.default-portfolio-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.default-portfolio-item .inner-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.default-portfolio-item .image-box {
  position: relative;
  display: block;
}

.default-portfolio-item .image-box img {
  position: relative;
  display: block;
  width: 100%;
}

.default-portfolio-item .overlay-box {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.default-portfolio-item .inner-box .overlay-box .overlay-inner {
  position: absolute;
  left: -100%;
  bottom: 30px;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.default-portfolio-item .inner-box:hover .overlay-box {
  opacity: 1;
  visibility: visible;
  left: 0;
}
.default-portfolio-item .inner-box:hover .overlay-box .overlay-inner {
  opacity: 1;
  visibility: visible;
  left: 0;
}
.default-portfolio-item .inner-box .content-inner {
  position: relative;
  background: #222222;
  text-align: left;
  padding: 14px 26px 19px;
}

.default-portfolio-item .overlay-inner .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.default-portfolio-item .overlay-inner .content .tags {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.default-portfolio-item .overlay-inner h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.default-portfolio-item .overlay-inner h3 a {
  color: #fff;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.default-portfolio-item .overlay-inner h3 a:hover {
  color: #ffb300;
}

.default-portfolio-item .overlay-inner .link {
  position: absolute;
  width: 80px;
  height: 80px;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  background-color: #ffb300;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  right: -80px;
  bottom: 0;
}

.default-portfolio-item .overlay-inner .link .icon {
  position: relative;
  margin-top: 18px;
  display: block;
}
.default-portfolio-item .overlay-inner .link .icon:before {
  color: #fff;
  text-align: center;
  margin-left: 0;
  font-size: 30px;
}

.default-portfolio-item .overlay-inner .link:hover {
  background-color: #ffffff;
}

.default-portfolio-item .overlay-inner .link:hover .icon:before {
  color: #ffb300;
}
.gallery-section .load-more-btn {
  position: relative;
  margin-top: 42px;
}
.int_testimonial_style3 h2 {
  color: #fff;
}
#rostica-office-map {
  position: relative;
  width: 85%;
  left: 7.5%;
  top: -15%;
  height: 90vh;
  box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.15);
}
.huechange {
  filter: hue-rotate(60deg) !important;
}
.hero-area-content .section-title h6 {
  color: #ffb300;
}
.section-title h6 {
  color: #222;
}
@media (max-width: 992px) {
  .featured-process-area {
    margin-top: 48%;
  }
  .header-right-content h4 {
    display: none;
  }
}
@media (max-width: 886px) {
  .featured-process-area {
    margin-top: 68%;
  }
}
@media (max-width: 767px) {
  .single-slide-item h1 {
    font-size: 66px;
    line-height: 66px;
  }
  .section-title h2 {
    font-size: 38px;
  }
  .achievement-area {
    padding: 12% 0;
  }
  .int_process_wrapper {
    padding: 12% 0;
  }
  .int_process_wrapper .int_heading {
    margin-top: 44px;
    margin-bottom: 44px;
  }
  .process_box_wrapper .process_box {
    padding: 8%;
  }
  .int_testimonial_style3 {
    padding: 15% 0 15px;
  }
  .footer_box_wrapper .footer_box .int_logo {
    margin-bottom: 12px;
  }
  footer {
    padding: 12% 0;
  }
  p.privacy {
    margin-top: 12px;
    text-align: center;
  }
  .page-title {
    padding: 35% 0;
  }
  .section-title h2 {
    font-size: 35px;
    line-height: 41px;
  }
  #info-2 .info-content-area {
    padding-left: 0;
  }
  .choose-us-area {
    background-image: url(../images/achievement.jpg);
    background-size: cover;
    height: auto;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding: 12%;
  }
  .choose-us-area:before {
    opacity: 0.9;
  }
  .featured-process-area {
    margin-top: 3%;
  }
  .featured-process-area .process-grids .inner {
    padding: 12% 40px;
  }
}
